* {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: tomato;
  }

header {
    color:yellow;
    background-color:lightblue;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
}

.primaryImage {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/images-run-buddy.jpeg");
    background-size: cover;
    background-position: center;
}

