* {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }

header {  
    padding: 20px 35px;
    background-color: #39a6b2;
  }

header h1 {
    font-weight: bold;
    display: inline;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}

header a {
    color:#fce138
}

header nav {
    padding-top: 15px;
    margin: 7px 0;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size:22px;
    text-decoration: none;
    color: #fce138;
}

p {
    font-size: 16px;
}

.primaryImage {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/images-run-buddy.jpeg");
    background-size: cover;
    background-position: center;
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
  }

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align:right;
}

footer a {
    color:#024e67;
}